table {
    border-spacing: 2px;
}

td,
th {
    border-radius: 5px;
}

th {
    background-color: #b4c2cf
}

.magistral {
    background-color: #bfbfbf;
}

.conf {
    background-color: #e5e6ff;
}

.general {
    background-color: #9798ca;
}

.taller {
    background-color: #9699fe;
}

.tutorial {
    background-color: #91cdff;
}

.informal{
    background-color: #cacbff
}
